
<div class="modal-header">

  <h4 class="modal-title" id="myModalLabel">添加功能菜单</h4><hr/>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Close click')">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
</div>
<div class="modal-body" >
  <form (ngSubmit)="saveMenu()">
    <div class="form-group ">
      <label for="name" class="text-center  ">名称：</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="name" name="name" placeholder="请输入" [(ngModel)]="name">
      </div>
    </div>

    <div class="modal-footer" style="padding-bottom: 0">
      <button type="button" class="btn btn-secondary" aria-label="Close" (click)="activeModal.close('Close click')">关闭</button>
      <button type="submit" class="btn btn-primary">保存</button>
    </div>
  </form>
</div>
