.pager{
	width: 410px;
	height: 20px;
	font-size: 14px;
	color: #999999;
	position: fixed;
	right:4%;
	bottom:80px;
	p {
		line-height: 20px;
		margin-right: 5px;
	}
	.pageBtn {
		width: 65px;
		height: 20px;
		border-radius: 5px;
		margin-right: 5px;
		background-color: #ffffff;
		border: solid 1px rgba(0, 199, 126, 0.9);
		transition: all .3s ease;
		
	}
	.pageBtn:hover {
			background-color: rgba(0, 199, 126, 0.9);
			color: #fff;
		}
	.showPageBox {
		height: 20px;
		width: 60px;
		margin-right: 5px;
		position: relative;
		.showPage {
			position: absolute;
			left: 0;
			top: 0;
			width: 55px;
			height: 18px;
			padding: 0;
			padding-left: 3px;
			border-radius: 5px;
			background-color: #ffffff;
			border: solid 1px rgba(0, 199, 126, 0.9);
		}
		.jumpPageBtn {
			position: absolute;
			border-radius: 0 5px 5px 0;
			right: 0;
			top: 0;
			padding: 0;
			width: 30px;
			height: 20px;
			background: #00c77e;
			border: solid 1px rgba(0, 199, 126, 0.9);
			color: #fff;
		}
	}
}